/* Style */

html {
	font-size: 62.5%;
}

body {
	background-color: hsl(0 0% 5%);

}

.container {
	background-color: hsl(216  65%  61%);
}

.display {
	background-color: hsl(94 31% 79%);
}

.button {
	font-size: 3rem;
	font-weight: bold;
}

/* Layout */


* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	height: 100vh;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	aspect-ratio: 660 / 840;
	width: min(95%, min(660px, 95vh * 660 / 840));
	margin: auto;
}

.inputs {
	align-self: center;
	width: 80%;
	padding-block: 2rem;
	outline: 2px solid black;
	display: grid;
	grid-template-columns: repeat(4, 15%);
	justify-content: center;
	gap: 3rem;
}

.display {
	box-shadow: inset 0 10px 15px grey;
	align-self: center;
	width: 80%;
	min-height: 20%;
}

button {
	cursor: pointer;
	box-shadow: 0 -2px 5px 2px;
	padding: 1.2rem;
}

button[data-type='lrg-btn'] {
	grid-column: span 2;
}

.poweroff {
	width: 50%;
}

#poweroff-btn {
	background-color: hsl(345 66% 40%);
}

/* Utility */

.rounded-corners, button{
	border-radius: 1rem;
}
