body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
}

.header, .footer {
	text-align: center;
	background-color: red;
}

.mid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}
.calc {
	outline: 2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex: 1;
	width: 45%;
	background-image: url('./img/calculator.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 350px;
}

.display {
	height: 100px;
	width: 285px;
	background-color: white;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 12px;
	height: 283px;
	width: 328px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 13px;
}

button {
	padding: 0px;
	font-size: 18px;
	width: 44px;
	height: 30px;
	border: none;
}

.half-size {
	font-size: 13px;
	height: 18px;
}

.plus-size {
	height: 74px;
}
